@use "../base/mixins" as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 14px;

    @include respond(tab-land) {
        font-size: 90%;
    }

    @include respond(tab-port) {
        font-size: 80%;
    }
}

body {
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    @font-face {
        font-family: "FeatureMono";
        src: url("/css/feature_mono/FeatureMono-Regular.ttf");
    }
}