@use "../components/variables" as *;
@use "../base/mixins" as *;


.gallery-container {
    background-image: url(/img/Gallery-background.svg);
    min-height: 550px;
    background-size: cover;
    background-position: center;

    @include respond(phone) {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    @include respond(tab-port) {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}


.gallery-box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 35px;
    grid-auto-flow: row dense;
    margin: 55px 140px 55px 140px;

    @include respond(tab-land-small) {
        margin: 55px 60px 55px 60px;
    }

    @include respond(tab-land) {
        margin: 55px 140px 55px 140px;
    }

    @include respond(tab-port) {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap:  30px;
        margin: 20px;
    }


    &__photo-box {
        background-image: url(/img/gallery-back-1.svg);
        height: 230px;
        width: 102%;
        background-position: center;
        background-size: cover;
        transition: 0.8s;

        @include respond(tab-land-small) {
            width: 100%;
            justify-self: center;
        }
 
        @include respond(tab-land){
            width: 102%;
        }   

        @include respond(tab-port) {
            width: 70%;
           justify-self: center;
        }

        @include respond(phone) {
            width: 100%;
            justify-self: center;
        }

        &:hover {
            @include respond(tab-land-small) {
            transform: scale(1.1);
            background-image: url(/img/gallery-back-2.svg);
            }

            @include respond(tab-land) {
            transform: scale(1.1);
            background-image: url(/img/gallery-back-2.svg);
            }    
        }
    }

    &__photo-box-2 {
        background-image: url(/img/gallery-back-3.svg);
    }

    &__photo-box-3 {
        background-image: url(/img/gallery-back-4.svg);
    }

    &__gallery-photo {
        width: 100%;
        height: 170px;
        margin-top: 12px;
    }
}

.btn-box {
    display: flex;
    justify-content: center;
    height: 20px;

    &__btn-gallery {
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 12px;

        &:hover {
            color: $color-main-pink;
        }

        @include respond(tab-port) {
            font-size: 15px;
        }

    }

    &__btn-arrow {
        font-size: 13px;
        text-shadow: 2px 2px 3px $color-main-pink;

        @include respond(tab-port) {
            font-size: 15px;
        }
    }
}